version: "3"
services: 
  frontend:
    build: 
      context: ./frontend
      dockerfile: ./frontend/Dockerfile
    ports:
      - 80:80
    depends_on:
      - api
    restart: unless-stopped

  api:
    build: 
      context: ./app
      dockerfile: ./app/Dockerfile
    depends_on:
      - postgres
    ports: 
      - 8000:8000
    env_file:
      - .env
    restart: unless-stopped

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - postgres_db:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_db: