name: Build and deploy code
on: [push, pull_request]

env:
  DATABASE_HOSTNAME: localhost
  DATABASE_PORT: 5432
  DATABASE_PASSWORD: 12345
  DATABASE_NAME: fastapi
  DATABASE_USERNAME: postgres
  SECRET_KEY: "abc"
  ALGORITHM: "HS256"
  ACCESS_TOKEN_EXPIRE_MINUTES: 30

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt pytest
          pytest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.AUTH_KEY }}
      
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 100.76.67.39
          username: stefan
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: 6996
          script: |
            cd app/api
            git pull
            echo '${{ secrets.SUDO_PASSWORD }}' | sudo -S systemctl restart fastapi