name: Build and deploy code
on: [push, pull_request]   
jobs:
  build:
    env:
      DATABASE_HOSTNAME: localhost
      DATABASE_PORT: 5432
      DATABASE_PASSWORD: 12345
      DATABASE_NAME: fastapi
      DATABASE_USERNAME: postgres
      SECRET_KEY: "abc"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          pytest

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.AUTH_KEY }}
      
      - name: Deploy
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -p 6996 100.76.67.39 >> ~/.ssh/known_hosts
          
          ssh -i ~/.ssh/id_rsa -p 6996 stefan@100.76.67.39 \
            "cd app/api && git pull && echo '${{ secrets.SUDO_PASSWORD }}' | sudo -S systemctl restart fastapi"
            