name: Build and deploy code

on: [push, pull_request]   

jobs:
  build:
    env:
      DATABASE_HOSTNAME: localhost
      DATABASE_PORT: 5432
      DATABASE_PASSWORD: 12345
      DATABASE_NAME: fastapi
      DATABASE_USERNAME: postgres
      SECRET_KEY: "abc"
      ALGORITHM: "HS256"
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    runs-on: ubuntu-latest
    steps:
      - name: pulling git repo
        uses: actions/checkout@v2

      - name: install python
        uses: actions/setup-python@v2
        with:
          python-version: "3.14"

      - name: update pip
        run: python -m pip install --upgrade pip

      - name: install ll dependences
        run: pip install -r requirements.txt
      
      - name: pytests
        run: |
          pip install pytest
          pytest
 

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    environment:
      name: production
    
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: kyzesRyxsK11CNTRL
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }} tskey-client-kyzesRyxsK11CNTRL-FCahvEupuk1VdtdFqPeSm1rAA4cisdk8L
          tags: tag:ci

      - name: deploy to ubuntu
        uses: appleboy/ssh-action@master
        with:
          host: 100.76.67.39
          username: stefan
          key:${{ secrets.SSH_PRIVATE_KEY }} -----BEGIN OPENSSH PRIVATE KEY-----b3BlbnNzaC1rZXktdjEAAAAACmFlczI1Ni1jdHIAAAAGYmNyeXB0AAAAGAAAABBVuvyZ8jwCY4rG/4XJ3RR7AAAAGAAAAAEAAAAzAAAAC3NzaC1lZDI1NTE5AAAAIOHNwEdP0F/oAfi54uCF3w+mNJhudhGyDw/5THKhkH6+AAAAoIFh37CSfFV72lNeWjbmjWmJgJldTbbbaE+fUiHxu2342BnexZ1HCtLdTwcRexsO9jIWmDT6CuuH/J45JrySvJb4CdnNJzM8MCpoWeSvSZT0xtQ0h2asbPweBgTMS0mnO0b30J6TuwE9XAHUF4OS6lNiEB3WxzVIYPR+Gv4DT6IaE2c+H83KsmN90BTsYd7/nADGFCGYW0D3Hz4ci5ZBdJI=-----END OPENSSH PRIVATE KEY-----
          passphrase: s
          port: 6996
          script: |
            cd app/api
            git pull 
            echo s | sudo -S systemctl restart api